<h2 class="title">
  Solicitudes
  <div class="actions" *ngIf="editable">
    <button [routerLink]="'/nuevaSolicitud'">agregar</button>
  </div>
</h2>
<div class="content">
  <ap-list-item-solicitud *ngFor="let solicitud of solicitudes"
                          [solicitud]="solicitud"
                          [editable]="editable"
                          (eliminado)="actualiarSolicitudes()"></ap-list-item-solicitud>
</div>
