<h3 class="title">
  Solicitud: {{solicitud.id}}
  <div class="actions" *ngIf="editable">
    <button [routerLink]="'/editarSolicitud/'+solicitud.id">editar</button>
    <button (click)="eliminarSolicitud()">borrar</button>
  </div>
</h3>
<div class="content">
  <p>
    Institución: {{solicitud.institucionNombre}}
  </p>
  <p>
    Solicitante: {{solicitud.solicitanteNombre}}
  </p>
  <p>
    Estado: {{solicitud.estadoNombre}}
  </p>
</div>
